.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey2);
    width: 450px;
    border-radius: 8px;
    padding: 0;
    box-sizing: border-box;
}

.search-bar__txt {
    border: none;
    outline: none;
    margin-left: 20px;
    width: 100%;
    padding: 9px 0;
}
.search-bar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 20px;
}