.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7B2CBF;
    font-weight: 600;
    letter-spacing: .4px;
    font-size: 16px;
    user-select: none;
    text-decoration: none;
    padding: 31px 0 31px 24px;
}