:root {
    --purple1: #7B2CBF;
    --purple2: #9556CC;
    --purple3: #B68BDC;
    --purple4: #E5D5F2;
    --purple5: #F2EAF9;
    --black1: #110F15;
    --black2: #413F44;
    --black3: #88878A;
    --black4: #CFCFD0;
    --grey1: #BFBDC1;
    --grey2: #D6D6D8;
    --grey3: #E8E7E9;
    --grey4: #D6D6D8;
    --grey5: #E8E7E9;
    --red: #CB1F34;
    --green: #1FCB4F;
}
::selection {
  background: var(--purple1);
  color: #fff;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?reas6z');
  src:  url('fonts/icomoon.eot?reas6z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?reas6z') format('truetype'),
    url('fonts/icomoon.woff?reas6z') format('woff'),
    url('fonts/icomoon.svg?reas6z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addVideoBtn:before {
  content: "\e900";
  color: #fff;
}
.icon-comments:before {
  content: "\e901";
}
.icon-favourites:before {
  content: "\e902";
}
.icon-following:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e906";
  color: #7b2cbf;
}
.icon-menuArrow:before {
  content: "\e907";
  color: #2a0e42;
}
.icon-notice .path1:before {
  content: "\e908";
  color: rgb(42, 14, 66);
}
.icon-notice .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(41, 45, 50);
}
.icon-recent:before {
  content: "\e90a";
}
.icon-saved:before {
  content: "\e90b";
}
.icon-searchIcon:before {
  content: "\e90c";
}
.icon-share:before {
  content: "\e90d";
}
.icon-trending:before {
  content: "\e90e";
}
.icon-yourvideos:before {
  content: "\e90f";
}


body, #root, html{
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
}

html {
  overflow-y: scroll;
}