.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    padding-right: 20px;
}

.headerBtns {
    display: flex;
    gap: 35px;
    padding-right: 285px;
    z-index: 1001;
}