.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    margin-left: 236px;
    padding-left: 21px;
    padding-right: 28px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.headerBtns {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-right: 285px;
    z-index: 1001;
}