.videoCardWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.videoCardWrap p {
    margin: 0;
}

.preview {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 8px;
}

.infoWrap {
    text-decoration: none;
}

.videoName {
    color: var(--black1);
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.videoInfo {
    color: var(--black3);
    font-size: 14px;
    padding-top: 12px;
}
.videoDate:before {
    content: "\2022";
    font-size: 16px;
    padding: 0 4px;
}
.channelName {
    font-size: 16px;
}

.channelInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    color: var(--black1);
}